
	
h2, h3 {  color: #00e640 ;
 }

p { color: #f64747;

 }

footer { 
		background-color: #2e3131; 
		color: white;
	}


	.green {
    color: green ;
	}

.font-size-40 {
	font-size:  40px;
}

#logo {
	 width: 130px;
	


/*უნივერსალური სელექტორი-ედება ყველაფერს*/

* {
	
}

